---
import { sanityClient } from "sanity:client";
import NavComponent from "../components/NavComponent.astro";
import Head from '../components/Head.astro'
import imageUrlBuilder from '@sanity/image-url'


  const page = await sanityClient.fetch(`*[_type == "page"]`)
  
  const props =  page.map(({title, description,  _id, slug, briefDescription, cardimage}) => {
    return {
      title, description, _id, slug, briefDescription, cardimage
    }
  })
 
  const builder = imageUrlBuilder(sanityClient)

  function urlFor(source) {
    return builder.image(source)
  }





---
<Head />
<NavComponent/>



 

<div class="bg-[#f1fafd] relative isolate px-6 pt-14 lg:px-8 bg-[url('/images/backgroundIMGExample.jpg')] bg-cover bg-no-repeat">
        
  <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
    <div class="hidden sm:mb-8 sm:flex sm:justify-center">
      
    </div>
    <!-- This should be dynamic content okay for now -->
    <div class="text-center bg-[#f5f6fc]/[0.95] rounded-xl text-[#525252] p-[20px]">
      <div class="text-4xl font-bold tracking-tightsm:text-6xl">What we do!</div>
      <div class="mt-2 text-lg leading-8">We do all sorts from gutter cleans, house washing, roof treatments, paths, decks and driveway pressure washing. See below for more information</div>
      
    </div>
  </div>
  
</div>

  <div class="bg-[#f1fafd] grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4 pt-10">
  


  {props.map((props) => {
    
    return (

          <div id={props._id}class="mb-4 bg-white h-auto border border-gray-200 shadow max-sm: mx-5">
            <a href={`/whatwedo/${props.slug.current}`} >
                {props.cardimage ? <img class="h-[152px] w-full object-cover" src={urlFor(props.cardimage.asset)} alt="" /> : <img class="h-[152px] w-full object-cover" src="/images/backgroundIMGExample.jpg" alt="" /> }
            
                  <div class="p-2">
                          <div class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{props.title}</div>
                      <div class="mb-1 font-normal text-gray-700 dark:text-gray-400">{props.briefDescription}</div>
                      
                  </div>
              </a>
          </div>
    )

  })
    
            }
        
          
  </div>

</div>