---
import type { GetStaticPaths } from "astro";
import { sanityClient } from "sanity:client";
import NavComponent from "../../components/NavComponent.astro";
import Gallery from '../../components/Gallery.jsx'
import {PortableText as PortableTextInternal} from "astro-portabletext"
import Head from "../../components/Head.astro";
import imageUrlBuilder from '@sanity/image-url'



export const getStaticPaths = ( async () => {
  const page = await sanityClient.fetch(`*[_type == "page"]`)
  return page.map(({title, description,  _id, slug, gallery, cardimage}) => {
    
    return {
      params: {slug: slug.current},
      props: {title, description, _id, slug, gallery, cardimage}
    }
  })
}) satisfies GetStaticPaths;

const {title, description, _id, gallery, cardimage } = Astro.props

const builder = imageUrlBuilder(sanityClient)

  function urlFor(source) {
    return builder.image(source)
  }


---
<Head />
<NavComponent />

    <div id={_id} class="relative flex flex-col items-center bg-[#f1fafd]">
        {cardimage ? <img class="w-full h-heightdvh object-cover mb-4" src={urlFor(cardimage.asset)} /> : <img class="w-full object-cover mb-4" src="/images/backgroundIMGExample.jpg" />}
        <div class="absolute my-[50%] sm:my-[49.5%] bg-[#f5f6fc]/[0.95] px-6  py-2 rounded-3xl border b-2 shadow lg:animate-bounce">
            <div class="text-center">
              <div class="text-[#525252] text-2xl sm:text-4xl font-extrabold ">{title}</div>
          </div>
      </div>
        <PortableTextInternal class="pt-[50px] sm:pt-[20px] lg:w-[50%] md:w-[80%] px-[20px] text-xl" value={description} />
          <div class="mt-10">
            <Gallery data={Astro.props} client:only />
          </div>
      
    </div>
